<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tr.sbmx.mapper.ICityMapper">
  <resultMap id="BaseResultMap" type="com.tr.sbmx.entity.City">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="ip" jdbcType="INTEGER" property="ip" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, location, ip
  </sql>
  
  <select id="selectList" resultMap="BaseResultMap">
	select
	<include refid="Base_Column_List" />
	from city
  </select>
  
  <select id="selectByLocation" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from city
    where location = #{location,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from city
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from city
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.tr.sbmx.entity.City">
    insert into city (id, location, ip
      )
    values (#{id,jdbcType=INTEGER}, #{location,jdbcType=VARCHAR}, #{ip,jdbcType=INTEGER}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="com.tr.sbmx.entity.City">
    insert into city
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="ip != null">
        ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.tr.sbmx.entity.City">
    update city
    <set>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tr.sbmx.entity.City">
    update city
    set location = #{location,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>